# Database Connection
# Lokal: "file:./dev.db"
# Vercel / Production: gunakan PostgreSQL dari Supabase atau Neon (contoh: postgresql://postgres:password@db.xxx.supabase.co:5432/postgres)
DATABASE_URL="file:./dev.db"

# Kunci Rahasia Sesi Admin
ADMIN_JWT_SECRET="nadhirah-store-super-secret-session-key-2026"

# Base URL Website
NEXT_PUBLIC_BASE_URL="https://nadhirahstore.vercel.app"
